<html>
<body>
<form action="delete" method="get">
<label id="id">delete method</label><br>
		<label id="id">id</label>
		<input type=text name="idClienti">	<br>	
		<input type=submit value=invia>
		</form>
<br><br>
<img alt="" src="images/blog1.jpg">
<form action="insert" method="get">
<label id="id">insert method</label><br>
		<label id="codice">codice</label>
		<input type=text name="codice"><br>
		<label id="nome">nome</label>
		<input type=text name="nome"><br>
		<label id="desc">desc</label>
		<input type=text name="desc"><br>
		<label id="piva">piva</label>
		<input type=text name="piva"><br>
		
		<input type=submit value=invia>
		</form>

</body>
</html>
